.formcontainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px; /* how many columns should be there in grid */
  grid-template-rows: 100px 100px 100px 100px 100px; /* how many rows should be there in grid */
}

.item {
  background-color: red;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.item-1 {
  /* shorthand properties */
  grid-row: 1/3;
  grid-column: 1/4;
}

.item-2 {
  /* 1/3 row 4/6 column */
  grid-row: span 2; /* span keyword use number of rows i want to span*/
  grid-column: span 2; /* span keyword use number of columns i want to span*/
}

.item-3 {
  /* grid-area : row-start / col-start / row-end / col-end*/
  grid-area: 3 / 1 / -1 / -1;
}
